@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background: url('/images/tdc-background-img.webp') no-repeat center center fixed;
  background-size: cover;
}
